// Colors
$bitpayColor: #293c92;
$copayColor: #192c3a;
$copayColorOld: #1abb9b;
$white: #ffffff;
$bodyBackgroundColor: #F1f3f5;

@mixin gradient {
  background: $bitpayColor; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $bitpayColor , $copayColorOld); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $bitpayColor, $copayColorOld); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $bitpayColor, $copayColorOld); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $bitpayColor , $copayColorOld); /* Standard syntax */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $bodyBackgroundColor;
}

.ellipsis {
  text-overflow: ellipsis;
}

.qrcode{
  text-align: center;
}

.warning {
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  background: #F7CC57;
  color: #4C4C4C;
}

.note {
  background: #FFFF;
  color: #4C4C4C;
  margin-bottom: 20px;
  padding: 15px;
}

.input-group-addon {
  width: 250px;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  height: 8rem;
  @include gradient;

  .header-content {
    display: flex;
    justify-content: space-around;
    padding-top: 2.6rem;

    .bitpay-logo, .copay-logo {
      max-height: 3rem;
    }

    .header-center {
      font-size: 1.6rem;

      .header-title {
        text-align: center;
        margin: 0rem;
        color: $white;
        text-shadow: 1px 1px $copayColor;
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      .repository-link {
        text-align: center;
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  form {
    margin-bottom: 1.5rem;
  }
  .btn-primary {
    color: $white;
    background-color: $bitpayColor;
    border-color: $bitpayColor;
  }
  .btn-primary:hover:not(:disabled) {
    color: $white;
    background-color: $copayColorOld;
    border-color: $copayColorOld;
  }
  .btn-primary:disabled {
    cursor: not-allowed;
  }
  .btn-outline-primary:hover {
    background-color: lightgrey;
    border-color: lightgrey;
  }
  .card {
    margin-bottom: 1.5rem;
    .card-block {
      padding: 1.25rem;
    }
  }
}
